/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/**
 * FORMS
 */
.box-form { 
    position: relative; 
    min-height: 50px;
    max-height: 50px;
    transition: all 0.4s ease-out;
}

.box-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: var(--second-bg-color);
    width: 0;
    height: 50px;
    transition: all 0.4s ease-out;
}

.box-form::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: var(--blue-color);
    width: 0;
    height: 2px;
    transition: all 0.4s ease-out 0.3s;
}

.box-form:has(.form-control:focus-visible)::before,
.box-form:has(.form-control:focus-visible)::after { width: 100%; }

.box-form .label {
    text-transform: capitalize;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.4s ease-out;
}

.box-form .label svg { 
    color: var(--blue-color) !important; 
    transition: all 0.4s ease-out;
}

.box-form .form-control {
    border-bottom: 1px solid var(--second-color) !important;
    position: relative;
    min-height: 50px;
    max-height: 50px;
    transition: all 0.4s ease-out;
}

.box-form .form-control:where(:hover, :focus-visible) + .label { 
    top: -11px; 
    color: var(--blue-color);
    font-size: var(--fs-base) !important;
}

.box-form .form-control:where(:hover, :focus-visible) + .label svg {
    width: 16px !important;
    height: 16px !important;
}

.box-select { 
    background-color: var(--second-bg-color) !important;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    position: relative; 
}

.box-select .select-control {
    background-color: var(--second-bg-color);
    color: var(--second-color) !important;
    border-radius: 4px;
    min-height: 38px;
    max-height: 38px;
    padding: 10px 36px 10px 10px;
    transition: all 0.4s ease-out;
}

.box-select .select-control:hover { color: var(--text-color) !important; }

.box-select .arrow {
    background-color: var(--second-bg-color);
    position: absolute;
    border-radius: 0 4px 4px 0;
    color: var(--second-color) !important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 38px;
    height: 38px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--border-color);
    transition: all 0.4s ease-out;
}

.box-select:hover .arrow { color: var(--text-color) !important; }

.box-file {
    border: 1px solid transparent;
    background-color: var(--second-bg-color);
    border-radius: 12px;
    overflow: hidden;
    min-height: 46px;
    max-height: 46px;
    position: relative;
    transition: all 0.4s ease-out;
}

.box-file:hover {
    border: 1px solid var(--border-color);
    opacity: 0.8;
}

.box-file::before {
    content: "Upload";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--blue-color);
    font-size: var(--fs-label-medium) !important;
    font-weight: var(--fw-label-medium) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    pointer-events: none;
}

.box-file::after {
    content: "Upload your birth certificate | ID card";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--second-bg-color);
    color: var(--second-color);
    font-size: var(--fs-label-medium) !important;
    font-weight: var(--fw-label-medium) !important;
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(100% - 97.4px);
    padding-inline: 16px;
    pointer-events: none;
}

.box-file input {
    min-height: 46px;
    max-height: 46px;
}

/**
 * LOGO
 */
.logo .img-logo {
    min-width: max-content;
    max-width: max-content;
    min-height: 56px;
    max-height: 56px;
    transition: all 0.4s;
}

.logo .img-logo:hover { transform: scale(1.1); }
 
/**
 * ALERTS
 */

/**
 * COLLAPSES
 */
.card-collapse {
    border: 2px solid var(--border-color);
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 16px;
    transition: all 0.4s ease-out;
}

.card-collapse .collapse-btn {
    background-color: var(--second-bg-color);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    transition: all 0.4s ease-out;
}

.card-collapse .collapse-btn.active { background-color: #881337; }

.card-collapse .collapses-list {
    background-color: var(--second-bg-color);
    border-radius: 8px;
    margin-top: 16px;
    padding: 16px;
    display: grid;
    gap: 16px;
    width: 100%;
    display: none;
    transition: all 0.4s ease-out;
}

.card-collapse .collapses-list.active { display: block; }

.card-collapse .collapses-list .collapses-list-card { width: 100%; }

.card-collapse .collapses-list .collapses-list-card .collapse-list-btn {
    background-color: rgba(41, 28, 22, 0.8);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    transition: all 0.4s ease-out;
}

.card-collapse .collapses-list .collapses-list-card .collapse-list-btn h2 { color: var(--red-color); }

.card-collapse .collapses-list .collapses-list-card .collapses-list-card-list {
    margin-top: 12px;
    display: none;
    gap: 16px;
    padding-right: 16px;
    overflow: hidden;
}

.card-collapse .collapses-list .collapses-list-card .collapses-list-card-list.active { display: grid; }

.card-collapse .collapses-list .collapses-list-card .collapses-list-card-list .collapses-list-card-list-card { width: 100%; }

.card-collapse .collapses-list .collapses-list-card .collapses-list-card-list .collapses-list-card-list-card .collapse-list-btn-list-btn {
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    transition: all 0.4s ease-out;
}

.card-collapse .collapses-list .collapses-list-card .collapses-list-card-list .collapses-list-card-list-card .collapse-list-btn-list-btn h2 { text-align: start; }

.card-collapse .collapses-list .collapses-list-card .collapses-list-card-list .collapses-list-card-list-card .collapses-list-card-list-card-body {
    display: grid;
    gap: 5px;
    padding: 12px;
    margin-top: 16px;
    background-color: var(--bg-color);
    border-radius: 8px;
    width: calc(100% - 16px);
    display: none;
}

.card-collapse .collapses-list .collapses-list-card .collapses-list-card-list .collapses-list-card-list-card .collapses-list-card-list-card-body.active { display: block; }

/**
 * BUTTONS
 */
.btn {
    border-radius: 8px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize;
    text-wrap: nowrap;
    min-height: 45px;
    max-width: 100%;
    transition: all 0.4s ease-out; 
}

.btn:active { transform: scale(0.9); }

.btn-border-yellow { border: 1px solid transparent; }

.btn-border-yellow:hover { border: 1px solid var(--yellow-color); }

.btn-primary {
    color: #ffffff !important;
    border: 1px solid transparent;
    background-color: var(--blue-color);
}

.btn-primary:hover {
    border: 1px solid var(--blue-color);
    background-color: transparent;
    color: var(--blue-color) !important;
}

.btn-second-primary {
    color: #ffffff !important;
    border: 1px solid transparent;
    background-color: var(--blue-dark-color);
}

.btn-second-primary:hover {
    border: 1px solid var(--blue-dark-color);
    background-color: transparent;
    color: var(--blue-dark-color) !important;
}

.btn-red {
    border: 1px solid transparent;
    color: #ffffff !important;
    background-color: var(--red-color);
}

.btn-red:hover {
    border: 1px solid var(--red-color);
    background-color: transparent;
    color: var(--red-color) !important;
}

.btn-green {
    border: 1px solid var(--green-color);
    background-color: transparent;
}

.btn-green:hover { background-color: var(--green-color); }

.btn-green-mix { 
    background: linear-gradient(to right, var(--green-color), var(--blue-color)); 
    color: #ffffff !important;
}

.btn-green-mix:hover { opacity: 0.7; }

.btn-yellow {
    border-radius: 16px;
    background-color: var(--yellow-color);
    color: #000000 !important;
    width: max-content;
}

.btn-yellow:hover { transform: scale(1.1); }

.third-btn-yellow {
    border: 1px solid transparent;
    color: #000000 !important;
    background-color: var(--third-yellow-color);
}

.third-btn-yellow:hover {
    border: 1px solid var(--third-yellow-color);
    background-color: transparent;
    color: var(--third-yellow-color) !important;
}

.btn-secondary {
    border: 2px solid transparent;
    background-color: var(--four-bg-color);
    color: #ffffff !important;
}

.btn-secondary:hover {
    border: 2px solid var(--four-bg-color);
    background-color: transparent;
    color: var(--four-bg-color) !important;
}

/**
 * DROPDOWN
 */


/**
 * PAGINATION
 */


/**
 * CARDS
 */
.card { transition: all 0.4s ease-out; }

.card-teachers {
    background-color: var(--second-blue-color);
    border-radius: 16px 0 16px 0;
    padding: 16px 40px;
}

.card-teachers:hover { transform: translateY(-10px); }

.card-teachers img { border-radius: 16px 0 16px 0; }

.card-course img { transition: all 0.4s ease-out; }

.card-course:hover img { transform: scale(1.1); }

.card-course .card-body {
    border: 1px solid var(--border-color);
    background-color: var(--second-bg-color);
    border-radius: 8px;
    padding: 24px 16px;
    margin-inline: auto;
    transform: translateY(-50px) scale(0.9);
    transition: all 0.4s ease-out;
}

.card-course:hover .card-body { transform: translateY(-50px) scale(0.95); }

.card-materials {
    display: grid;
    gap: 50px;
}

.card-materials .title-materials {
    position: relative;
    text-align: center;
    width: 100%;
}

.card-materials .title-materials::before {
    content: "";
    background-color: var(--third-yellow-color);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: translateY(-50%);
    width: 230px;
    height: 100px;
}

.card-materials .card-body {
    background-color: var(--third-blue-color);
    border-radius: 25px;
    padding: 25px;
}

.card-materials .card-body .btn-card {
    background-color: transparent;
    color: #ffffff !important;
    text-align: center;
    border-radius: 16px;
    text-wrap: wrap;
    height: max-content;
    padding: 16px 20px !important;
}

.card-materials .card-body .btn-card:hover { background-color: #080c14; }

.card-how {
    background-color: var(--third-blue-color);
    border-radius: 24px;
    padding: 30px 20px;
    text-align: center;
    height: 100%;
}

.card-how svg { margin-inline: auto; }

.card-how .card-body .title-how {
    position: relative;
    text-align: center;
    z-index: 1;
}

.card-how .card-body .title-how::before {
    content: "";
    background-color: var(--third-yellow-color);
    opacity: 0.7;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: translateY(-50%);
    width: 140px;
    height: 50px;
}

/**
 * line 2
 */
.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-7 {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-8 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-9 {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-10 {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * SCROLLBAR NONE
 */
.scrollbar-none::-webkit-scrollbar { display: none; }