/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/**
 * FORMS
 */
html[dir="rtl"] .box-form .label {
    right: 0;
    left: auto;
}

html[dir="rtl"] .box-select .select-control { padding: 10px 10px 10px 36px; }

html[dir="rtl"] .box-select .arrow {
    border-radius: 4px 0 0 4px;
    right: auto;
    left: 0;
}

html[dir="rtl"] .box-file::before {
    right: 0;
    left: auto;
}

html[dir="rtl"] .box-file::before { content: "رفع"; }

html[dir="rtl"] .box-file::after {
    content: "ارفع شهادة ميلادك | بطاقتك";
    right: auto;
    left: 0;
    width: calc(100% - 64.36px);
}

/**
 * CARDS
 */
html[dir="rtl"] .card-materials .title-materials::before {
    right: 0;
    left: auto;
}

html[dir="rtl"] .card-how .card-body .title-how::before {
    right: 0;
    left: auto;
}